In [80]:
from sqlalchemy.orm import sessionmaker
import pandas
from src.models import *

from datetime import *

In [81]:
# Create the connection
engine = db_connect()
create_table(engine)
Session = sessionmaker(bind=engine)
s = Session()

In [82]:
# query articles in database
articles = s.query(Article).all()

df = pandas.read_sql(s.query(Article).statement, engine)
df = df[['title', 'publishing_date', 'article_link']]
df.head()

,title,publishing_date,article_link
0,OCR and Machine Translation,{2021-01-06},https://programminghistorian.org/en/lessons/OC...
1,Editing Audio with Audacity,{2016-08-05},https://programminghistorian.org/en/lessons/ed...
2,Downloading Multiple Records Using Query Strings,{2012-11-11},https://programminghistorian.org/en/lessons/do...
3,From HTML to List of Words (part 1),{2012-07-17},https://programminghistorian.org/en/lessons/fr...
4,From HTML to List of Words (part 2),{2012-07-17},https://programminghistorian.org/en/lessons/fr...

In [83]:
articles = s.query(Article).count()
authors = s.query(Author).count()
# print the number of articles and authors
print('There are {} articles in the database written by {} authors'.format(articles, authors))

There are 172 articles in the database written by 86 authors

In [84]:
# List authors
authors = s.query(Author).all()

# show all authors with pandas
df = pandas.read_sql(s.query(Author).statement, engine)
df

    id                                               name
0    3                                    Andrew Akhlaghi
1    4                                       Adam Crymble
2    5                                    Stephen Krewson
3    6  Jim Clifford, Josh MacFadyen,  and Daniel Macf...
4    7                 William J. Turkel and Adam Crymble
..  ..                                                ...
81  84    Brad Rittenhouse, Ximin Mi,  and Courtney Allen
82  85                                 Kellen Kurschinski
83  86                                    Amanda Visconti
84  87                    Taylor Arnold and Lauren Tilton
85  88                                   Matthew J. Lavin

[86 rows x 2 columns]

In [85]:
# Look for all articles written by an author
q = s.query(Article).join(Author, Article.authors).filter(Author.name == 'Adam Crymble')
df = pandas.read_sql(q.statement, engine)
df = df[['title', 'publishing_date']]
df.head()

                                               title publishing_date
0  Using Gazetteers to Extract Sets of Keywords f...    {2015-12-01}
1   Downloading Multiple Records Using Query Strings    {2012-11-11}
2  Introduction to Gravity Models of Migration & ...    {2019-03-18}

In [86]:
# close session and connection
s.close_all()

<ipython-input-86-6665c2e8c0a8>:2: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions().
  s.close_all()