In [1]:
from sqlalchemy import create_engine
from config import config
import pandas

In [3]:
# Postgres username, password, and database name
params = config()

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}'
.format(
    username=params["user"],
    password=params["password"],
    ipaddress=params["host"],
    port=5332)
)
# Create the connection
cnx = create_engine(postgres_str)
df = pandas.read_sql_query('''SELECT * FROM country''', con=cnx)
df

    country_id country_name
0            1    Country 1
1            2    Country 2
2            3    Country 3
3            4    Country 4
4            5    Country 5
..         ...          ...
95          96   Country 96
96          97   Country 97
97          98   Country 98
98          99   Country 99
99         100  Country 100

[100 rows x 2 columns]