In [1]:
from sqlalchemy.orm import sessionmaker
import pandas
from src.models import *

from datetime import *

In [2]:
# Create the connection
engine = db_connect()
create_table(engine)
Session = sessionmaker(bind=engine)
s = Session()

In [3]:
# query articles in database
articles = s.query(Article).all()

df = pandas.read_sql(s.query(Article).statement, engine)
df = df[['title', 'publishing_date']]
df.head()

                                              title publishing_date
0                       OCR and Machine Translation    {2021-01-06}
1                       Editing Audio with Audacity    {2016-08-05}
2  Downloading Multiple Records Using Query Strings    {2012-11-11}
3               From HTML to List of Words (part 1)    {2012-07-17}
4               From HTML to List of Words (part 2)    {2012-07-17}

In [4]:
authors = s.query(Author).all()

# show all authors with pandas
df = pandas.read_sql(s.query(Author).statement, engine)
df.head()

   id             name
0   1     Felo Crawley
1   2     Felo Crawley
2   3  Andrew Akhlaghi
3   4     Adam Crymble
4   5  Stephen Krewson

In [5]:
# close session and connection
s.close_all()

<ipython-input-5-6665c2e8c0a8>:2: SADeprecationWarning: The Session.close_all() method is deprecated and will be removed in a future release.  Please refer to session.close_all_sessions().
  s.close_all()