In [1]:
from sqlalchemy import create_engine
from config import config
import pandas

In [2]:
# Postgres username, password, and database name
params = config()

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}'
.format(
    username=params["user"],
    password=params["password"],
    ipaddress=params["host"],
    port=5332)
)
# Create the connection
cnx = create_engine(postgres_str)
df = pandas.read_sql_query('''SELECT * FROM article''', con=cnx)
df

,id,title,accessed_date,publishing_date,full_text,article_link
0,1,Example Title,2018-01-01 00:00:00,2018-01-01 00:00:00,Example Text,http://example.com