In [1]:
from sqlalchemy import create_engine
from config import config
import pandas

In [3]:
# Postgres username, password, and database name
params = config()

postgres_str = ('postgresql://{username}:{password}@{ipaddress}:{port}/{database}'
.format(
    username=params["user"],
    password=params["password"],
    ipaddress=params["host"],
    database=params["database"],
    port=5332)
)
# Create the connection
cnx = create_engine(postgres_str)
df = pandas.read_sql_query('''SELECT * FROM article''', con=cnx)
df

Empty DataFrame
Columns: [article_id, datetime_created, datetime_accessed, title, full_text, publisher_id]
Index: []