# Notes on using sqlalchemy

- Add a book using the `Session.add()` method directly
- Add a book using a

In [11]:
import examples.db_with_python.crud as crud

In [6]:
s.add(
    Book(
    title='War and Pease',
    author='Leon Tolstoi',
    pages=775,
    published=datetime(1876, 11, 18)
    )
)

# commit to the database
s.commit()

## Add books using a crud module

In [12]:
crud.add_book(
        title="Once upon a time", 
        author="Jose Mantes", 
        published=datetime(1876, 11, 18),
        pages=900)

s.query(Book).filter(Book.author.ilike('Jose Mantes')).first()

In [4]:
book = Book(
    title='War and Pease',
    author='Leon Tolstoi',
    pages=775,
    published=datetime(1876, 11, 18)
)

a = s.query(Book).filter(Book.title.ilike('war and pease')).first()
b = s.query(Book).filter(Book.author.ilike('Kevin Murphy')).all()

print(a)
print(b)

<Book(title='War and Pease', author='Leon Tolstoi', pages=775, published=1876-11-18)>
[<Book(title='Machine Learning: A Probabilistic Perspective', author='Kevin Murphy', pages=1104, published=2012-08-24)>]